/*Fade-in animation for the sections*/

section{
    animation: section-loading 2s;
}

@keyframes section-loading{
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  /* Infinite rotation animation for flowers*/

  ::after, #studio h2::before, .site-footer::before {
    animation: flower-rotation 20s linear infinite;
  }

  @keyframes flower-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Title animation, appear from the bottom*/

h2, h3{
    animation: title-apparition 2s;
}

@keyframes title-apparition {
	from {
        transform: translateY(50px);
	}

	to {
		transform: translateY(0px);
	}
}

/*Final-section style*/

.final-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}